{% from "bootstrap5/form.html" import render_form %}
{% block content %}
{% include "header.html" %}

            <!-- Projects Section-->
            <section class="py-5">
                <div class="container px-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="display-5 fw-bolder mb-0">
                            {% if is_edit: %}
                            <span class="text-gradient d-inline">Edit Projects</span>
                            {% else: %}
                            <span class="text-gradient d-inline">Add New Projects</span>
                            {% endif %}
                        </h1>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-10 mx-auto">
                            {{ ckeditor.load() }} {{ ckeditor.config(name='body') }} {{
                            render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
                        </div>
                    </div>
                </div>
            </section>
            <!-- Call to action section-->
            <section class="py-5 bg-gradient-primary-to-secondary text-white">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
                        <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="contact.html">Contact me</a>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
       {% include "footer.html" %}
 {% endblock %}

