{% include "header.html" %}

            <!-- Page Content-->
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">
                        <!-- Experience Section-->
                        <section>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h2 class="text-primary fw-bolder mb-0">Experience</h2>
                                <!-- Download resume button-->
                                <!-- Note: Set the link href target to a PDF file within your project-->
                                <a class="btn btn-primary px-4 py-3" href="{{url_for('download')}}">
                                    <div class="d-inline-block bi bi-download me-2"></div>
                                    Download Resume
                                </a>
                            </div>
                            <!-- Experience Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="small text-primary fw-bolder mb-2">07/2023 – 09/2023</div>
                                                <div class="small fw-bolder">Web Developer</div>
                                                <div class="small text-muted">Imap Gmbh</div>
                                                <div class="small text-muted">Düsseldorf – Germany</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div>
                                            <ul class="small">
                                                <li> Working on String translation (WPML, LocoTranslate) Community Plugin (Buddyboss,
                                            BuddyPress).</li>
                                                <li>Managed Site’s Technical functionality and Solved technical errors. </li>
                                                <li>Worked on site migration to different domain.</li>
                                                <li>Regular updation of plugin and themes and get in touch with plugin’s support team.
                                                <li>Created handbook for site maintenance.</li>
                                                <li>Worked on Ionox Web hosting server.</li></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Experience Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="small text-primary fw-bolder mb-2">01/2022 – 09/2022</div>
                                                <div class="small fw-bolder">Web Developer</div>
                                                <div class="small text-muted">Codept Solution Pvt.Ltd</div>
                                                <div class="small text-muted">Gujarat, India</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div>
                                                <ul class="small">
                                                <li> Designed and developed custom WordPress themes and plugins from scratch, based on client
requirements and best practices.</li>
                                                <li>Creation of clean, logical, well-documented and reusable code. </li>
                                                <li>Programming with WordPress Coding standard and worked with Guternburg.</li>
                                                    <li>Worked with Figma and photo-shop to implement frontend.</li>
                                                <li>Troubleshoot and resolved issues with existing WordPress sites, including performance and
security issues.</li>
                                                <li>Collaborated with other developers and designers to create complex WordPress solutions that
meet client needs.</li>
                                                <li>Optimized WordPress sites for performance and scalability, including server-side caching, CDN
integration, and code optimization.</li>
                                                    <li>Stay up-to-date with the latest trends and technologies in WordPress development.</li>

                                                </ul>
                                            </div>
                                        </div>
                            </div>
                                </div>
                            </div>

                            <!-- Experience Card 3-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="small text-primary fw-bolder mb-2">03/2020 – 12/2021</div>
                                                <div class="small fw-bolder">Web Developer</div>
                                                <div class="small text-muted">Dhameliya Infotech Pvt.Ltd</div>
                                                <div class="small text-muted">Gujarat, India</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div>
                                                <ul class="small">
                                                <li>Generated eCommerce websites using Elementor builder in WordPress.</li>
                                                <li>Plugin development for WordPress websites, including custom plugin development</li>
                                                <li>Improved Knowledge of API integration for WordPress and WooComerce websites</li>
                                                <li>Theme development for WordPress websites, including creating custom themes and modifying
existing ones</li>
                                                <li>Worked on third party integration such as Hubspot, Zoho CRM, Zendesk, Google Tag manager,
Google Analytics, etc.</li>
                                                <li>Implemented basics of BigCommerce, including setting up product catalogs, managing orders,
and configuring shipping and tax options</li>
                                                <li>Familiar with other WordPress tools and technologies, such as WooCommerce, Jetpack, and
Yoast SEO</li>
                                                <li>Worked on Task management tool Jira, Clickup, Microsoft Teams, Slack, Skype.</li>
                                                </ul>
                                            </div>
                                        </div>
                            </div>
                                </div>
                            </div>
                            <!-- Experience Card 4-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="small text-primary fw-bolder mb-2">08/2019 – 02/2020</div>
                                                <div class="small fw-bolder">Python Developer</div>
                                                <div class="small text-muted">Dhameliya Infotech Pvt.Ltd</div>
                                                <div class="small text-muted">Gujarat, India</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div>
                                                <ul class="small">
                                                <li>Acquired Proficiency in using Python libraries like Beautiful Soup, Selenium, and Requests for
web scraping.</li>
                                                <li>Created web scraping scripts to extract data from different websites, such as e-commerce sites,
social media platforms, and news websites and stored it in different formats, such as CSV, JSON,
or databases.</li>
                                                <li>Improved the knowledge of web scraping best practices, including respecting website terms of
use and avoiding excessive scraping that can cause website downtime or errors.</li>
                                                </ul>
                                            </div>
                                        </div>
                            </div>
                                </div>
                            </div>
                        </section>
                        <!-- Education Section-->
                        <section>
                            <h2 class="text-secondary fw-bolder mb-4">Education</h2>
                            <!-- Education Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">2022 - Present</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">Frankfurt University of Applied Sciences</div>
                                                    <div class="small text-muted">Frankfurt am Main, DE</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">Master's</div>
                                                    <div class="small text-muted">High Integrity Systems</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>Embark on a transformative journey mastering High Integrity Systems at Frankfurt University of Applied Sciences, where cutting-edge curriculum meets real-world applications, shaping leaders in technology with integrity and precision. Elevate your expertise in Frankfurt's dynamic learning environment, cultivating skills crucial for ensuring reliability and trustworthiness in complex systems of tomorrow.</div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Education Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">2017 - 2019</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">S.V Patel College of Computer Science and Business Management</div>
                                                    <div class="small text-muted">Gujarat, IN</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">Bachelor</div>
                                                    <div class="small text-muted">Computer Science</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>At S.V. Patel College of Computer Science and Business Management, immerse yourself in a dynamic learning environment tailored for aspiring computer scientists. Explore cutting-edge technologies and practical applications, preparing for a future at the forefront of innovation</div></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Divider-->
                        <div class="pb-5"></div>
                        <!-- Skills Section-->
                        <section>
                            <!-- Skillset Card-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <!-- Professional skills list-->
                                    <div class="mb-5">
                                        <div class="d-flex align-items-center mb-4">
                                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Technical Skill</span></h3>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Fronted/Backend Development</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">API Integration</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Web Scraping, Flask, Turtle</div></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SSH, BASH, FTP, Apache</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">mySQL, postgresql</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Git, Jira, MS Teams</div></div>
                                        </div>
                                    </div>
                                    <!-- Languages list-->
                                    <div class="mb-0">
                                        <div class="d-flex align-items-center mb-4">
                                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Languages</span></h3>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">HTML</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">CSS, Bootstrap</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JavaScript, jQuery</div></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Python</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">PHP</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">WordPress</div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        {% include "footer.html" %}

